$titleColor: rgba(0, 0, 0, 0.7);
$contentColor: #666;
$contentLightColor: #999;
$shadowColor: rgba(0, 0, 0, 0.05);
$borderColor: #e1e1e1;
$borderRadius: 8px;

$panelHeaderColor: #fafafa;
$panelBorderColor: rgba(0, 0, 0, 0.01);