<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>NewsSpider</title>
    {{{ renderResourceHints() }}} 
    {{{ renderStyles() }}}
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ renderState() }}} 
    <script
      type="text/javascript"
      src="http://static-cdn.lxzmww.xyz/vue@2.6.11.js"
    ></script>
    <script
      type="text/javascript"
      src="http://static-cdn.lxzmww.xyz/vue-router@3.1.5.js"
    ></script>
    <script
      type="text/javascript"
      src="http://static-cdn.lxzmww.xyz/vuex@3.1.2.js"
    ></script>
    {{{ renderScripts() }}}
  </body>
</html>
